
@media all and (max-width: 1920px) {
    .phoneBooks {
        width: 58px;
        height: 58px;
        margin: 2px;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: aliceblue; */
    }
    .imagesPhoneBook {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
    }
    .imagesPhoneBooks{
        width: 100%;
        height: 100%;
    }
    .titlePhoneBook{
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000;
    }
}

/*PC*/
@media all and (max-width: 1024px) {
    .phoneBooks {
        width: 85px;
        height: 65px;
        margin: 5px;
    }
}

/*Máy tính bảng*/
@media all and (max-width: 740px) {
    .phoneBooks {
        width: 55px;
        height: 55px;
    }
}

/*trên điện thoại*/
@media all and (max-width: 600px) {
    .phoneBooks {
        width: 60px;
        height: 50px;
    }
}