.HotTopic {
    padding: 10px;
    border-radius: 12px;
    background-color: #ffffff;
    position: relative;
}
.HotTopicTitle {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}
.title {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.35;
    color: #f2761c;
    margin-right: 6px;
    text-transform: uppercase;
}
.brick {
    flex: 1;
    height: 1px;
    margin-bottom: 4px;
    background-color: #f2761c;
}