:root {
    --width-Content: 48%;
    --height-Content: 250px;
}

.hostNews {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.titleText {
    padding-right: 15px;
}

.button {
    color: #000;
    border: none;
    padding: 1px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    background-color: transparent;
}

.titleActive {
    border-bottom: 2px solid red;
}

.newsContent {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
}

.newsContentLeft {
    background-color: aliceblue;
    width: var(--width-Content);
    height: var(--height-Content);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.imageHost {
    width: 100%;
    height: 100%;
    position: absolute;
}
.personalInformation {
    left: 10px;
    bottom: 10px;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.personalInformation a {
    color: #fff;
    margin: 0 10px;
    font-size: 14px;
    text-decoration: none;
}
.personalInformation span {
    font-size: 11px;
    color: #c1c1c1;
}
.ItemLeftTitle {

    bottom: 50px;
    left: 10px;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.ItemLeftTitle a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.newsContentRight {
    /* background-color: rgb(21, 116, 199); */
    width: var(--width-Content);
    height: var(--height-Content);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemRight {
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-between;
}

.itemRight:last-child {
    margin-bottom: 0;
}

.itemRightImg {
    width: 100px;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.ItemRightTitle {  
    width: 80%;
    font-size: 13px;
    overflow: hidden;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 5px 5px 5px 20px;
}

.ItemRightTitle a{
    text-decoration: none;
    color: #000;
}