.utilities {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
}

.utilities p {
    font-family: SegoeUI;
    font-size: 15px;
    font-weight: 600;
    color: #292929;
    margin: 0;
}