:root {
    --background-color: #cecaca;
}
.contents {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
}
.contents_body {
    width: 60%;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    /*justify-content: space-between;*/
}
.contentLefts {
    flex: 5;
    margin-right: 5px;
}

.post {
    height: 52px;
    padding: 1px 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
}
.postLefts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.postLefts p {
    color: #535353;
    font-size: 15px;
    margin-left: 10px;
}

.postRights {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagesPost {
    width: 15px;
    height: 15px
}

.phoneBook {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-color);
}

.news {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.blockShopPing {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 12px;
    padding: 10px;
    background-color: var(--background-color);
}

.contentRights {
    flex: 2;
    margin-left: 5px;
}
.weather {
    display: flex;
    flex-direction: column;
}

/*PC*/
@media all and (max-width: 1024px) {
    .contents_body {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .contentLefts {
        flex: none;
        width: 100%;
        margin: 0;
    }
    .contentRights {
        flex: none;
        width: 100%;
        margin: 0;
    }
    .imagesPost {
        width: 20px;
        height: 20px;
    }
    .advertisement {
        display: none;
    }
    .weather {
        margin-bottom: 10px;
    }
}

/*Máy tính bảng*/
@media all and (max-width: 740px) {

}

/*trên điện thoại*/
@media all and (max-width: 600px) {

}
