.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.contentFooterTop {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentFooterBottom {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*PC*/
@media all and (max-width: 1024px) {
    .contentFooterTop,
    .contentFooterBottom {
        width: 90%;
    }

}

/*Máy tính bảng*/
@media all and (max-width: 740px) {

}

/*trên điện thoại*/
@media all and (max-width: 600px) {

}
