.HotTopic {
    padding: 10px;
    border-radius: 12px;
    background-color: #ffffff;
    position: relative;
}
.HotTopicTitle p {
    font-family: SegoeUI;
    font-size: 15px;
    font-weight: 600;
    color: #f2761c;
    background-color: #ffffff;
    margin: 0;
    /* position: relative; */
    z-index: 10;
}
.brick {
    width: 90%;
    height: 1px;
    top: 50%;
    position: absolute;
    background-color:#f2761c;
}