.blockListNewsContent {
    padding: 15px 10px;
    background-color: #fff;
    margin-bottom: 10px; 
    border-radius: 12px;
}

.blockListNewsContentTop {
    display: flex;
    flex-direction: row;
}
 
.blockListNewsContentTopLeft img {
    width: 183px;
    height: 140px;
    border-radius: 5px;
}
.blockListNewsContentTopRight {
    margin-left: 10px;
}
.blockListNewsContentTopRight h3{
    margin: 0;
}
.individual {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.individual p {
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 600;
}
 

.individual p:nth-child(2) {
    margin: 10px;
    color: red;
}


.blockListNewsContentButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.blockListNewsContentButton .icon img{
    width: 20px;
    height: 20px;
    margin: 0 20px;
}
.blockListNewsContentButton .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}